body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #007bff;
}

footer {
  background-color: #f8f9fa;
}

.navbar-msx-img {
  background-image: url('/background-header.png');
  background-size: cover;
  background-repeat: no-repeat;
}