body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #007bff;
}

footer {
  background-color: #f8f9fa;
}

.responsive-img {
  transition: width 0.3s;
}

.bg-image {
  background-image: url('/images/background-image1.jpg');
  height: 85vh;
  background-position: center;
  background-size: cover;
}

@media (max-width: 769px) {
  .navbar-msx-li-mob {
    margin-bottom: 5px;
  }
}

@media (max-width: 500px) {
  .responsive-img-w {
    width: 70px; /* Ajuste o valor conforme necessário */
  }
  .responsive-img-l {
    width: 150px; /* Ajuste o valor conforme necessário */
  }
}